@font-face {
    font-family: Disney;
    src: url("../fonts/waltograph42.otf");
}

/****************** GENERAL ********************/
a:hover {
    color: darkmagenta;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Quicksand, sans-serif;
}

.content {
    flex-grow: 1;
}

.fa-edit {
    float: right;
}

h1 {
    margin-bottom: 50px;
    font-family: Disney;
    text-align: center;
}

li {
    list-style-type: none;
}

.msg-error {
    color: red;
    margin-top: 20px;
}

/****************** MEDIA QUERIES **************/
@media screen and (max-device-width: 480px){
    .content {
        height: 100%;
    }
}