/****************** FOOTER *********************/
.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #F5F5F5;
    margin-top: 15px;
    font-size: 20px;
}

.footer p {
    margin: 0;
}

.reseaux {
    float: right;
}

.reseaux i {
    margin: auto 10px;
    color: #424242;
}

.reseaux .fa-facebook-f:hover {
    color: #3b5998;
}

.reseaux .fa-twitter:hover {
    color: #1da1f2;
}

.reseaux .fa-pinterest-p:hover {
    color: #bd081c;
}

.reseaux .fa-youtube:hover {
    color: #ff0000;
}

.reseaux .fa-instagram:hover {
    color: #000;
}

/****************** MEDIA QUERIES **************/
@media screen and (max-device-width: 480px) {
    .footer {
        font-size: 18px;
    }

    .reseaux i {
        margin: 0;
    }
}