@font-face {
    font-family: Disney;
    src: url("../fonts/waltograph42.otf");
}

/****************** VIGNETTES ******************/
.bold {
    font-weight: bold;
}

h3 {
    padding-top: 10px;
    font-family: Disney;
    font-size: 2em;
}

.more {
    float: right;
    margin-right: 5px;
}

.vignette {
    float: left;
    margin-left: 2%;
    width: 48%;
    height: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    display: flex;
}

.vignette a {
    bottom: 0;
}

.vignette img {
    float: left;
    width: 200px;
    height: auto;
    margin: 5px;
}

/****************** MEDIA QUERIES **************/
@media screen and (max-width: 980px) {
    .vignette {
        width: 80%;
        margin: 0 auto 20px;
    }
}