/****************** MOVIE PAGE *****************/
.movie-content {
    display: flex;
}

.movie-page {
    margin: 50px auto;
}

.movie-page h1 {
    text-align: center;
    font-family: Disney;
    margin-bottom: 50px;
}

.movie-page img {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: auto;
}

.movie-page p {
    font-size: 20px;
}

.movie-page span {
    font-weight: bold;
}

.trailer {
    text-align: center;
    margin-top: 25px;
}