@font-face {
    font-family: Disney;
    src: url("../fonts/waltograph42.otf");
}

/****************** NAVBAR *********************/
.navbar-brand {
    font-family: Disney;
    font-size: 2.5em;
    line-height: 50px;
}

.navbar-brand img {
    padding-bottom: 5px;
}

.navbar-nav {
    text-align: right;
}

.nav-item {
    line-height: 40px;
}

ul li a img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}