/****************** PROFIL *********************/

.avatar {
    float: left;
    margin-right: 30px;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.fa-times {
    float: right;
    display: none;
}

h1 {
    margin-bottom: 5px;
}

.profil {
    margin: 50px auto 30px;
}

.profil-content {
    display: flex;
}

.profil .deconnexion {
    text-align: center;
    margin-bottom: 50px;
}

.profil-edit {
    text-align: center;
    display: none;
}

.profil-edit label {
    text-align: left;
}